################################################################
# Global configuration
################################################################

# Enable debug mode
#
# Optional
# Default: false
#
debug = true

# Log level
#
# Optional
# Default: "ERROR"
#
logLevel = "DEBUG"

# Entrypoints to be used by frontends that do not specify any entrypoint.
# Each frontend can specify its own entrypoints.
#
# Optional
# Default: ["http"]
#
defaultEntryPoints = ["http", "https"]

################################################################
# Entrypoints configuration
################################################################

# Entrypoints definition
#
# Optional
# Default:
[entryPoints]
    [entryPoints.http]
    address = ":80"

    [entryPoints.maintenance]
    address = ":9999"

    # [entryPoints.http8080]
    # address = ":8080"
    #   [entryPoints.http8080.tls]

    [entryPoints.http8081]
    address = ":8081"
      [entryPoints.http8081.tls]

    [entryPoints.http8082]
    address = ":8082"
      [entryPoints.http8082.tls]

    [entryPoints.https]
    address = ":443"
      [entryPoints.https.tls]

################################################################
# Traefik logs configuration
################################################################

# Traefik logs
# Enabled by default and log to stdout
#
# Optional
#
# [traefikLog]

# Sets the filepath for the traefik log. If not specified, stdout will be used.
# Intermediate directories are created if necessary.
#
# Optional
# Default: os.Stdout
#
# filePath = "log/traefik.log"

# Format is either "json" or "common".
#
# Optional
# Default: "common"
#
# format = "common"

################################################################
# Access logs configuration
################################################################

# Enable access logs
# By default it will write to stdout and produce logs in the textual
# Common Log Format (CLF), extended with additional fields.
#
# Optional
#
# [accessLog]

# Sets the file path for the access log. If not specified, stdout will be used.
# Intermediate directories are created if necessary.
#
# Optional
# Default: os.Stdout
#
# filePath = "/path/to/log/log.txt"

# Format is either "json" or "common".
#
# Optional
# Default: "common"
#
# format = "common"

################################################################
# API and dashboard configuration
################################################################

[api]
  entryPoint = "maintenance"
  dashboard = true

################################################################
# Ping configuration
################################################################

# Enable ping
[ping]
  entryPoint = "maintenance"

################################################################
# Docker configuration backend
################################################################

################################################################
# Docker Provider
################################################################

# Enable Docker Provider.
[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "knit.pk.edu.pl"
watch = true
exposedByDefault = false
usebindportip = false
swarmMode = false

# [acme]
#   email = "travis.knit@gmail.com"
#   storage = "acme.json"
#   entryPoint = "https"
#   caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
#   onHostRule = true
#   [acme.httpChallenge]
#     entryPoint = "http"